.section-title h5::before {
    content: '';
    position: absolute;
    width: 70%;
    height: 2px;
    background-color: #ffc600;
    bottom: 0;
    left: 0;
}

.nvesting_block_list {
    background: #FFF;
    box-shadow: 0 0 30px #ccc;
    padding: 30px;
    display: inline-block;
    width: 100%;
}

.invest-title {
    color: #444;
    margin-bottom: 8px;
    font-size: 32px;
    font-weight: 600;
}

.initiatives-content-block {
    background: #8080800a;
    box-shadow: 0 0 30px #ccc;
    padding: 30px;
    display: inline-block;
    width: 100%;
}

.coporate-block {
    border-bottom: 1px solid #3315151a;
    padding-bottom: 20px;
    margin-bottom: 60px;
}

.invest-image img {
    border-radius: 6px;
}

.investing-block-list.counter-section {
    background: #d2a81c;
    color: #fff;
    padding: 40px 0px;
    width: calc(100% + 60px);
    margin-left: -30px;
    border-radius: 2px;
}
.counter-section .row .col-sm-3 {
    font-size: 18px;
    text-align: center;
    padding: 0;
}
.counter-section .row .col-sm-3 p.count {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin: 16px;
    color: #fff;
}