.section-title h5::before {
    content: '';
    position: absolute;
    width: 65%;
    height: 2px;
    background-color: #ffc600;
    bottom: 0;
    left: 0;
}

.nvesting_block_list {
    background: #FFF;
    box-shadow: 0 0 30px #ccc;
    padding: 30px;
    display: inline-block;
    width: 100%;
}

.invest-title {
    color: #444;
    margin-bottom: 8px;
    font-size: 32px;
    font-weight: 600;
}

.initiatives-content-block {
    background: #8080800a;
    box-shadow: 0 0 30px #ccc;
    padding: 30px;
    display: inline-block;
    width: 100%;
}

.coporate-block {
    border-bottom: 1px solid #3315151a;
    padding-bottom: 20px;
    margin-bottom: 60px;
}
.initiative_bullets ul li label {
    display: block;
    font-weight: bold;
    font-size: 18px;
}
.initiative_bullets ul {
    padding-left: 30px;
} 
.initiative_bullets ul li {
    counter-increment: heading-counter;
    padding-bottom: 20px;
}
 .initiative_bullets ul li::marker {
    font-size: 20px;
    font-weight: bold;
  content: counter(heading-counter) ": ";
}

.static_block {
    position: relative;
}

.static_block img.paper_image {
    position: absolute;
    top: -55px;
    left: 20px;
    /* animation: animate 2s infinite linear; */
    max-width: 130px;
    animation: bounce2 2s ease infinite;
}
.static_block img.main_globe {
    transform: rotate(315deg);
    max-width: 300px;
}